---
import React from 'react';
import SupNav from '/workspaces/luxerium/luxerium-app/src/components/supnav.jsx';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Luxerium</title>
	</head>
	<body>
		<SupNav/>
	</body>
</html>
