---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import SecondaryNavbar from '../components/SecondaryNavbar.astro';
import Feature from '../components/Feature.astro';
import Markets from  '../components/Markets.astro';
---

<Layout title="Luxerium">
    <Navbar />
    <SecondaryNavbar/>
    <Feature />
    <Markets />
    
    
</Layout>

    
<style>
	
</style>

<!--
    <script src="https://kit.fontawesome.com/2bb7bd6bae.js" crossorigin="anonymous"></script>

    <div class="sticky flex items-center h-fit">
        <img src="icons/flecha.svg" alt="bottom" class="absolute bottom-0 z-20">
    </div>
-->