---
import Searchbar from './Searchbar.astro';
---

<div class="relative w-full h-[50vh]">
  <Searchbar />
  
  <!-- Image with gradient overlay -->
  <a href="https://www.google.com/">
    <div class="relative w-full h-full">
      <img 
        src="https://images.pexels.com/photos/7031408/pexels-photo-7031408.jpeg" 
        alt="Mansion in Lomas de Zamora" 
        class="w-full h-full object-cover hover:object-top" 
        loading="lazy"
      />
      
      <!-- Gradient overlay -->
      <div class="absolute inset-0 bg-gradient-to-t from-black/70 to-transparent"></div>
    </div>
  </a>

  <!-- Text content with better visibility due to gradient -->
  <div class="absolute bottom-0 left-8 mb-8 font-semibold text-primaryColor">
    <h1 class="text-2xl font-secondaryFont">
      MANSION IN LOMAS DE ZAMORA, GBA SUR, AR
    </h1>
    <p class="mb-[.5em] text-lg font-secondaryFont">
      $420,000,000.00
    </p>
    <div class="flex space-x-4">
      <button class="w-10 h-10 bg-terciaryColor flex items-center justify-center">
        <img src="/icons/bookmark.svg" alt="Bookmark" />
      </button>
      <button class="w-72 h-10 text-center bg-Green">
        CONTACT AGENT
      </button>
    </div>
  </div>
</div>

