---
import RealestateCard from "./subComponents/forList/Realestate-Card.astro"
---

<!-- CARD GRID -->
<div class="h-full overflow-y-auto no-scrollbar p-3">
    <div class="grid sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-2 pb-40">
        <RealestateCard Title="THE PENTHOUSE" currentStatus='3' />
        <RealestateCard Title="PENTHOUSE IN L.A" />
        <RealestateCard Title="MANSION IN SOUTH AMERIC..." />
        <RealestateCard Title="" />
        <RealestateCard Title="" />
        <RealestateCard Title="" />
        <RealestateCard Title="" />
        <RealestateCard Title="" />
        <RealestateCard Title="" />
    </div>
</div>
