---

---

<div class="absolute z-10 m-5 w-fit flex ">
    <input type="text" name="" id="" placeholder="COUNTRY / CITY / STATE / ZIP CODE" class="rounded text-center min-w-[30vw] p-2 bg-[var(--primarycolor)] opacity-65 text-[var(--terciarycolor)] outline-none">
</div>

<style is:global>

    @import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');
    
    
      :root {
        --primaryfont: Genera Grotesk;
        --secondaryfont: Archivo, sans-serif;
        /*COLORS*/
        --primarycolor: #F6F6F6;
        --secondarycolor: #E7B95D;
        --terciarycolor: #252525;
        --blur: rgba(0, 0, 0, 0.5);;
        --red: #874545;
        --green: #45874C;
      }
    </style>