---
import SecondaryAnchor from "./subComponents/SecondaryAnchor.astro"
---

<header class="w-full py-[10px] border-t border-b border-primaryColor">
    <div class="flex justify-center">
      <nav>
        <ul class="flex lg:gap-[15em] md:gap-[8em] gap-[4em]">
            <SecondaryAnchor market="REAL ESTATE" />
            <SecondaryAnchor market="VEHICLES" />
            <SecondaryAnchor market="AIRCRAFTS" />
            <SecondaryAnchor market="SHIPS" />
        </ul>
      </nav>
    </div>
  </header>
  