---

---

<header class="flex m-auto w-fit">
    <div class="flex gap-1 transition ease-in-out duration-150  sm:gap-2 md:gap-4 lg:gap-10 p-2 flex-row justify-between ">
        <div class=" flex bg-primaryColor text-terciaryColor transition ease-linear duration-300 hover:bg-transparent border hover:border-primaryColor hover:text-primaryColor font-secondaryFont p-1 px-4 rounded-2xl">Type <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" alt="#" class="w-6 h-6 m-auto pl-2" ></div>

        <div class=" flex bg-primaryColor text-terciaryColor transition ease-linear duration-300 hover:bg-transparent border hover:border-primaryColor hover:text-primaryColor font-secondaryFont p-1 px-4 rounded-2xl">Built Age <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" alt="#" class="w-6 h-6 m-auto pl-2" ></div>

        <div class=" flex bg-primaryColor text-terciaryColor transition ease-linear duration-300 hover:bg-transparent border hover:border-primaryColor hover:text-primaryColor font-secondaryFont p-1 px-4 rounded-2xl">Bedrooms <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" alt="#" class="w-6 h-6 m-auto pl-2" ></div>

        <div class=" flex bg-primaryColor text-terciaryColor transition ease-linear duration-300 hover:bg-transparent border hover:border-primaryColor hover:text-primaryColor font-secondaryFont p-1 px-4 rounded-2xl">Bathrooms <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" alt="#" class="w-6 h-6 m-auto pl-2" ></div>

        <div class=" flex  bg-primaryColor text-terciaryColor transition ease-linear duration-300 hover:bg-transparent border hover:border-primaryColor hover:text-primaryColor font-secondaryFont p-1 px-4 rounded-2xl">Size <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" alt="#" class="w-6 h-6 m-auto pl-2" ></div>

        <div class=" flex  bg-primaryColor text-terciaryColor transition ease-linear duration-300 hover:bg-transparent border hover:border-primaryColor hover:text-primaryColor font-secondaryFont p-1 px-4 rounded-2xl">Parking Slots <img src="https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg" alt="#" class="w-6 h-6 m-auto pl-2" ></div>

    </div>
</header>