---

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/icons/brand/faviconLuxerium.svg" />
		<title>{title}</title>
	</head>
	<body class="bg-[#252525]  bg-fixed">
		<slot />
	</body>
</html>

<style>
	:root{
		--lgb: hsla(0, 0%, 37%, 0.3);
		--lgg: hsla(40, 74%, 10%, 0.6);
	}
</style>